body {
  color: #434455;
  background: #fff;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding-left: 156px; /* 0 156px; */
  padding-right: 156px;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  height: 72px;
  padding: 0 15px;
  background: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo span {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  color: #4d5ae5;
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-bar {
  display: flex;
  gap: 40px;
}

.nav-item {
  position: relative;
}

.nav-item-link {
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-item-link:hover {
  color: #404bbf;
  /* Body Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-item-link:hover::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404BBF;
}

.nav-item-link:focus {
  color: #404bbf;
}

.header-address-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-style: normal;
}

.header-address-item {
  color: #434455;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-item:hover {
  cursor: pointer;
  color: #404bbf;
  /* Body */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-item:focus {
  color: #404bbf;
  /* Body */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.solutions {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/solutions-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
}

.solutions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.solutions-title {
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.solutions-order-button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  cursor: pointer;
  color: #ffffff;
  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-order-button:hover {
  background-color: #404bbf;
}

.solutions-order-button:focus {
  background-color: #404bbf;
}

.benefits {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-title {
  /* margin-bottom: 8px; */
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px * 3) / 4);
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-color: #F4F4FD;
  /* fill: #4D5AE5; */
}

.benefits-item-title {
  margin-bottom: 8px;
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-item-description {
  color: #434455;

  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  margin-bottom: 120px;
  display: flex;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: var(--WHITE, #fff);
}

.team-item-description {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: var(--WHITE, #fff);
}

.team-item-title {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item-position {
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  fill: #F4F4FD;
}

.icon-link:hover {
  background-color: #404BBF;
}

.icon-link:focus {
  background-color: #404BBF;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  flex-shrink: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-img {
  display: block;
  max-width: 100%;
}

.portfolio-item-description-container {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-description {
  color: #434455;
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo span {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-description {
  width: 264px;
  color: #f4f4fd;
  /* Body */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-icon:hover {
  background-color: #31D0AA;
}
